<!DOCTYPE html>
<html>
  <head>
    <title>Justin Stone</title>
    <link href="http://fonts.googleapis.com/css?family=Oxygen:400,700,300" rel="stylesheet" type="text/css">
    <link href="resources/css/style.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="resources/css/projects.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <section id="header">
        <div id="nav-bar"><a href="index.html" class="nav-link">Index</a><a href="projects.html" class="nav-link">Projects</a><a href="contact.html" class="nav-link">Contact</a></div>
      </section>
      <div id="content">
        <h1>Projects</h1>
        <p>
          Over the past eight weeks I've made quite a bit of progress thanks to FreeCodeCamp
          and the awesome web development community. I've nearly completed the <a href="http://www.freecodecamp.com/map">FCC curriculum</a> and am starting to work on "real-world" projects such as this website.
          Check out the project directory and click on a project name to view one. You
          can view the source on GitHub or see it in action by clicking the project image.
        </p>
        <div id="index-app" ng-app="index" ng-controller="IndexCtrl as controller">
          <script type="text/ng-template" id="project-map">
            <button ng-click="dir.open = !dir.open" class="directory-button index-button"><i ng-class="{'fa-caret-right': !dir.open, 'fa-caret-down': dir.open}" class="fa"></i> {{ dir.dirName }}</button>
            <ul ng-if="dir.projects.length + dir.dirs.length &gt; 0 ">
              <li ng-if="dir.open" ng-repeat="project in dir.projects">
                <button ng-click="loadProject(project.link)" class="project-button index-button">{{project.title}} <i ng-class="{'fa-hand-o-left': project.link === loaded}" class="fa"></i></button>
              </li>
              <li ng-show="dir.open">
                <div ng-repeat="dir in dir.dirs" ng-include="'project-map'"></div>
              </li>
            </ul>
          </script>
          <div id="root" ng-repeat="dir in projectMap.dirs" ng-include="'project-map'"></div>
        </div>
        <div class="project-display"></div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="resources/javascripts/projects.js"></script>
  </body>
</html>