$color1: rgba(160, 180, 174, 1)
$color2: rgba( 13,  31,  45, 1)
$color3: rgba( 92, 111, 104, 1)
$color4: rgba( 45,  45,  42, 1)
$color5: rgba(247, 250, 250, 1)

$color-shadow: rgba( 0, 0, 0, 1)
$color-white: rgba( 255, 255, 255, 1)


button
  width: 100%
  text-align: left

ul
  list-style: none
  padding-left: 1em

.project-image
  width: 100%
  max-width: 25em

#index-app
  max-width: 25em

.index-button
  border: 0
  border-radius: 1em

  &:focus
    outline: 0

.directory-button
  font-size: 1.3em
  background-color: $color2
  color: $color-white
  &>.fa
    color: $color-white


.project-button
  font-size: 1.2em
  background-color: $color-white

.project-image-link
  width: 100%
  max-width: 20em