h1.project-title
    a.project-link(href="") JavaScript Calculator
h4.project-prompt Check out the prompt for the project#{' '}
    a(href="http://www.freecodecamp.com/challenges/zipline-build-a-javascript-calculator") here.
a.project-image-link(href="")
    img(src="")
a.source-link(href="")
    h3 View the source here.
p.project-summary
div.objectives
    h2 Objectives
    p In this project...
div.weaknesses
    h2 Weaknesses
    p This project wasn't that great because...