h1.project-title
    a.project-link(href="http://ntropish.github.io/FCCnews/") FCC News
h4.project-prompt Check out the prompt for this project#{' '}
    a(href="http://www.freecodecamp.com/challenges/zipline-stylize-stories-on-camper-news") here.
a.project-image-link(href="http://ntropish.github.io/FCCnews/")
    img.project-image(src="resources/img/project-images/FCCnews.jpg")
a.source-link(href="https://github.com/Ntropish/FCCnews")
    h3 View the source here.
p.project-summary
div.objectives
    h2 Learning Objectives and Accomplishments
    p This project was about making a page look nice, but doing so while getting into hacking. An API did exist to
        | grab the current articles, but some analysis of the URIs FreeCodeCamp uses to identify each
        | comment page was needed because those links weren't given by the API. Maybe I just needed to
        | look harder, but I ended up figuring out how to go from a news article title to a news article comment
        | section URI with just a couple regex functions.
    p Aside from the hacking and logic fun, this was the first project I used icons in. To avoid cluttering
        | the page with lots of identical looking "comments" anchors the best solution seemed to be using icons.
        | It ended up fitting in really well for how little effort they took to include.
div.weaknesses
    h2 Weaknesses
    p In the original FreeCodeCamp news page articles without thumbnails were assigned random ones.
        | I decided to use a single placeholder image thinking most articles would have one but looking
        | at it right now thumbnails are very sparse. The page is mostly placeholder images and it doesn't look
        | very great. I could have also used a gradient on the bottom of images instead of text shadow
        | to make the titles pop out and be more readable.
        | I'm also still using divs for buttons and links here so I'm ashamed of that. But, overall I could
        | have put in just a little bit more effort and made this page look much nicer, which was one of the
        | objectives.