h1.project-title
    a.project-link(href="") Personal Website
a.source-link(href="https://github.com/Ntropish/personal-page")
    h3 View the source here.
p.project-summary This is a project I decided to do to show off what I've accomplished so far as a web developer.
    | It is also the website you are currently on.
div.objectives
    h2 Learning Objectives and Accomplishments
    p This project was initially about building a polished website that I could use as a portfolio. However,
        | I ended up doing write-ups, what you are reading now, on all of my past projects.
        | This was a time consuming process but it let me stop to self reflect, review some of my code, and
        | acknowledge my weaknesses. By learning to self reflect and write about myself I think I've found
        | a way to keep a clear idea in my head about how to keep moving forward. Really I've created a
        | resource for myself to use after each project to make sure I've learned as much as I can.
div.weaknesses
    h2 Weaknesses
    p I'm not sure yet.