h1.project-title
    a.project-link(href="http://ntropish.github.io/Pomodoro/") Pomodoro Clock
h4.project-prompt Check out the project prompt#{' '}
    a(href="http://www.freecodecamp.com/challenges/zipline-build-a-pomodoro-clock") here.
a.project-image-link(href="http://ntropish.github.io/Pomodoro/")
    img.project-image(src="resources/img/project-images/pomodoro.jpg")
a.source-link(href="https://github.com/Ntropish/Pomodoro")
    h3 View my GitHub repo here.
p.project-summary In this project a Pomodoro clock was made. This is a timer for the "Pomodoro Technique"
    | in which one works for a set time, then takes a break for a set time before going back t work. So
    | in this project a two state timer was built where the state alternates when the timer reaches zero.
div.objectives
    h2 Objectives
    p The purpose of this project was to improve JavaScript skills in general, but especially around asynchronous
        | concepts and user interfaces. I'm really happy with the way both of those objectives were accomplished.
        | All of the asynchronous events that happen from user interaction seem to behave exactly how I wanted
        | them to, and the clock looks good as far as I know from my up to date version of chrome.
div.weaknesses
    h2 Weaknesses
    p One thing I was still doing wrong in this project was using divs for buttons. The buttons look nice but
        | I know now that behaviors really shouldn't be forced upon elements that weren't made for them. I could
        | just as easily use actual buttons and style them the same way now that I know more CSS.