h1.project-title
    a.project-link(href="http://ntropish.github.io/Tictactoe/") TicTacToe Game
h4.project-prompt Check out the project prompt#{' '}
    a(herf="http://www.freecodecamp.com/challenges/zipline-build-a-tic-tac-toe-game") here.
a.project-image-link(href="http://ntropish.github.io/Tictactoe/")
    img(src="resources/img/project-images/tictactoe.jpg")
a.source-link(href="https://github.com/Ntropish/Tictactoe")
    h3 View my GitHub repo here.
p.project-summary
    p This project involved making a simple TicTacToe game with an AI.
div.objectives
    h2 Objectives
    p The primary goal here was to get practice in JavaScript through writing game logic
        | and the AI to go with it. I did end up becoming more comfortable with JS and also
        | picked up a few tricks for data handling.
div.weaknesses
    h2 Weaknesses
    p This project could have been made easier with Angular. The game logic has to worry about
        | the state of the view, which doesn't separate concerns and made the code harder to reason
        | through. Another thing I notice looking back is that my comments aren't sufficient. I'll
        | have to improve that in the future.
