h1.project-title
    a.project-link(href="http://ntropish.github.io/wiki-search/") Wikipedia Search
h4.project-prompt Check out the prompt#{' '}
    a(href="http://www.freecodecamp.com/challenges/zipline-wikipedia-viewer") here.
a.project-image-link(href="http://ntropish.github.io/wiki-search/")
    img.project-image(src="resources/img/project-images/wiki-search.jpg")
a.source-link(href="https://github.com/Ntropish/wiki-search")
    h3 View my GitHub repo here.
p.project-summary
    | This was the one of the first project I did for FreeCodeCamp.
    | It uses Wikipedia's API to search for articles and displays those article's
    | titles with some sample text. Clicking on a result sends the user to the article on Wikipedia.
div.objectives
    h2 Learning Objectives and Accomplishments
    p This project was intended to be an introduction to front-end web development. It introduced the use of
        | JSON, working in the dom, and user input. All of these are vital skills required to
        | do any useful front-end development so it served as a good early project.

div.weaknesses
    h2 Weaknesses
    p As one of my earliest projects There are plenty of weaknesses I could point out.
        | There is a little too much callback nesting but overall the structure is okay.
        | There are a few console.log()s remaining in the code. Angular could have made this project trivial.
        | But, as far as accomplishing the goal of being a front-end introduction it was fairly successful.