button {
  width: 100%;
  text-align: left; }

ul {
  list-style: none;
  padding-left: 1em; }

.project-image {
  width: 100%;
  max-width: 25em; }

#index-app {
  max-width: 25em; }

.index-button {
  border: 0;
  border-radius: 1em; }
  .index-button:focus {
    outline: 0; }

.directory-button {
  font-size: 1.3em;
  background-color: #0d1f2d;
  color: white; }
  .directory-button > .fa {
    color: white; }

.project-button {
  font-size: 1.2em;
  background-color: white; }

.project-image-link {
  width: 100%;
  max-width: 20em; }
