extends layout
block content
    div#content
        div#contact-info
            h2 Contact Information
            p Justin Stone
            a(href="mailto:justinstonecontact@gmail.com") justinstonecontact@gmail.com
block scripts
block styles
    link(href="resources/css/contact.min.css" rel="stylesheet")