extends layout

block content
    div#content
        div#intro
            div#my-title
                h1 Justin Stone
                p Web Development Beginner, Programmer, Designer
            img#picture-of-me(src="resources/img/small-picture_of_me_for_web.jpg")
            div#social-links
                a(href="https://github.com/Ntropish")
                    i.fa(class="fa-github-square")
                | #{' '}
                a(href="https://twitter.com/Ntropish")
                    i.fa(class="fa-twitter")
        div#about
            p
                | I'm Justin. I enjoy working with JavaScript and building
                | web applications. I'm fairly new to web development but my past experience
                | in computer graphics and programming are making the learning go by
                | quickly and enjoyably. I've spent most of my teenage years
                | playing in Blender, the open source 3D graphics and animation
                | suite, and picked up experience in Photoshop
                | and Gimp along the way, software that is useful for me now in design. I've taken
                | several computer science courses in college, but the
                | majority of my programming experience comes from using python for fun.
                | Earlier this year I set a goal to learn web development because I saw it as one of my weaknesses.
                | However, something I decided to do an a whim has now become the thing I
                | put the majority of my effort into because I enjoy it.
        div#technology
            h2 Technology I use
            div#technology-sections
                div.tech-section
                    h3 Basics
                    ul
                        li HTML
                        li CSS
                        li JavaScript
                        li JQuery
                        li Git
                div.tech-section
                    h3 Front End
                    ul
                        li Angular
                        li SASS
                        li Jade
                        li Bootstrap
                div.tech-section
                    h3 Back End
                    ul
                        li Node
                        li Express
                        li MongoDB
                        li Passport
                        li bcrypt
                div.tech-section
                    h3 Design
                    ul
                        li Blender
                        li Photoshop
                        li Gimp
                        li Illustrator
            p
                | Check out my#{' '}
                a(href="projects.html") projects
                | #{' '}page to see how I'm using each of these technologies.


block scripts
    script(src="resources/uglyjs/index.min.js")
block styles
    link(href="resources/css/index.min.css" rel="stylesheet")