extends layout

block content
    div#splash
        img(class="splash-image" src="resources/img/half-city.jpg")
        p(class="image-attribution") Image derived from photo by Anthony Indraus
    div#content
        div#intro
            h1 Justin Stone
            p Web Development Beginner, Programmer, Designer
        img#picture-of-me(src="resources/img/Picture_of_me_for_web.jpg")
        div#about
            p
                | I'm Justin. I enjoy working with JavaScript, and using the MEAN stack to build
                | web applications. I'm fairly new to web development but my past experience
                | in computer graphics and programming are making the learning go by
                | quickly and enjoyably. I've spent most of my teenage years
                | playing in Blender, the open source 3D graphics and animation
                | suite, causing me to use plenty of Photoshop
                | and Gimp, software that is useful for me now in design. I've taken
                | several computer science courses in college, but the
                | majority of my programming experience comes from using python for fun.
                | Earlier this year I set a goal to learn web development because I saw it as one of my weaknesses.
                | However, something I decided to do an a whim has now become the thing I
                | put the majority of my effort into because I enjoy it.
        div#technology
            h2 Technology I use
            div.tech-section
                h3 Basics
                ul
                    li HTML
                    li CSS
                    li JavaScript
                    li JQuery
                    li Git
            div.tech-section
                h3 Front End
                ul
                    li Angular
                    li SASS
                    li Jade
                    li Bootstrap
            div.tech-section
                h3 Back End
                ul
                    li Node
                    li Express
                    li MongoDB
                    li Passport
                    li bcrypt
            div.tech-section
                h3 Design
                ul
                    li Blender
                    li Photoshop
                    li Gimp
                    li Illustrator
        div#projects
            h2 Projects
            p
                | Check out my projects page to see how I'm using each of these technologies.
            p
                | I've worked in three stages for the past eight weeks. The first was to learn the basics.
                | This involved reading most of JavaScript: The Definitive Guide and completing the study
                | guide found&#32;
                a(href="http://javascriptissexy.com/how-to-learn-javascript-properly/") here.
                | &#32;The next two portions were working through the exercises on&#32;
                a(href="http://www.freecodecamp.com/") FreeCodeCamp.
                | &#32;Here, in the second part of my journey, I was directed all the way through being
                | able to create front end applications confidently and without guidance.
                | For the last stage, the full stack projects, I'm currently working through the last few exercises
                | on FreeCodeCamp. I have far less direction than I had previously and am
                | having to become more active on Twitter, subscribe to many mailing lists, read blogs,
                | and take part in the web development community in order to learn and develop myself further.





block scripts
    script(src="resources/uglyjs/index.min.js")
block styles
    link(href='resources/css/style.min.css' rel='stylesheet')
    link(href="resources/css/index.min.css" rel="stylesheet")