extends layout

block content
    div#content
        div#intro
            div#my-title
                h1 Justin Stone
                p Web Development Beginner, Programmer, Designer
            img#picture-of-me(src="resources/img/small-picture_of_me_for_web.jpg")
            div#social-links
                a(href="https://github.com/Ntropish")
                    i.fa(class="fa-github-square")
                | #{' '}
                a(href="https://twitter.com/Ntropish")
                    i.fa(class="fa-twitter")
        div#about
            p
                | I'm Justin, a developer that loves working in JavaScript.
                | I am constantly trying to find the best way to do whatever
                | I'm working on and finding out why the tools I use work the 
                | way they do. I enjoy JavaScript so much because of the 
                | exceptionally active and prolific community that constantly
                | pushes the language forward. These people make it so there
                | is always something new to learn and a better way to do
                | something, and there is always someone on IRC to direct you.
                | As long as I am learning something new and solving difficult 
                | problems I am enjoying what I do, and so I love web development. 
                
            p
                a(href="https://crosswire.xyz/")
                  | Check out my latest app here, and read my thoughts on
                  | it over in the projects section.

        div#technology
            h2 Technology I use
            p I haven't been doing this for long, but hopefully in the future 
              | this list will get too long to practically list out! But for
              | now here it is so people can see what I'm most useful with
              | at the moment.
            div#technology-sections
                div.tech-section
                    h3 Basics
                    ul
                        li HTML
                        li CSS
                        li JavaScript
                        li JQuery
                        li Git
                div.tech-section
                    h3 Front End
                    ul
                        li Angular
                        li SASS
                        li Jade
                        li Bootstrap
                div.tech-section
                    h3 Back End
                    ul
                        li Node
                        li Express
                        li MongoDB
                        li Linux
                div.tech-section
                    h3 Design
                    ul
                        li Blender
                        li Photoshop
                        li Gimp
                        li Illustrator
            p
                | Check out my#{' '}
                a(href="projects.html") projects
                | #{' '}page to see how I'm using each of these technologies.


block scripts
    script(src="resources/uglyjs/index.min.js")
block styles
    link(href="resources/css/index.min.css" rel="stylesheet")
